check-in-papi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">



	<flow name="api-main">
		<http:listener
			config-ref="apiHttpsListenerConnectorConfig"
			path="/api/${api.majorVersion}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="apiKitConnectorConfig" />
		<error-handler ref="api-main-error-handler" />
	</flow>




	<flow name="api-console">
		<http:listener
			config-ref="apiHttpsListenerConnectorConfig"
			path="/console/${api.majorVersion}/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="apiKitConnectorConfig" />
		<error-handler ref="api-console-error-handler" />
	</flow>




	<flow name="put:\tickets\(PNR)\checkin:application\json:apiKitConnectorConfig">
		<flow-ref doc:name="check-in-by-pnr" doc:id="07e287a9-52b3-45d7-abd9-3f38f3f7a5e5" name="check-in-by-pnr" />
	</flow>
	
	
	
	
	<flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiKitConnectorConfig">
		<flow-ref doc:name="payment-approval-by-pnr" doc:id="dddda671-d87a-4baf-8a6c-b57021e02de4" name="payment-approval-by-pnr" />
	</flow>
	
	
	
	
	<flow name="get:\tickets\(PNR):apiKitConnectorConfig">
		<flow-ref doc:name="get-ticket-by-pnr" doc:id="c95cf0cd-e857-43a7-9ce0-a68563c643a4" name="get-ticket-by-pnr" />
	</flow>
	
	
	
	
</mule>
